<!DOCTYPE html>
<html lang="en">
 <!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>  
<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Read our Blog</h1>
            <span>Lorem ipsum dolor sit amet consectetur</span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class='tabs-content'>
              <% posts.forEach(post => { %> 
                <article id='tabs-1'>
                  <img src="/uploads/<%= post.image %> "alt="">
                  <h4><a href="/blog/<%= post._id %>"><%= post.title %></a></h4>
                  <div style="margin-bottom:10px;">
                    <span>John Doe &nbsp;|&nbsp; <%= post.createdAt %> &nbsp;|&nbsp; 15 comments</span>
                  </div>
                  <p><pre><%= post.content.substring(0, 50) %>....</pre></p>
                  <br>
                  <div>
                    <a href="/blog/<%= post._id %>" class="filled-button">View</a>
                            
                
                  </div>
                </article>
              <br>
              <br>
              <br>
                <% }); %>
            
            </section>
          </div>

          <div class="col-md-4">
              <h4 class="h4">Search</h4>
              
              <form id="search_form" name="gs" method="GET" action="#">
                <input type="text" name="q" class="form-control form-control-lg" placeholder="type to search..." autocomplete="on">
              </form>

              <br>
              <br>

              <h4 class="h4">Recent posts</h4>

              <ul>

                <% posts.forEach(post => { %> 

                  <li>
                      <h5 style="margin-bottom:10px;"><a href="/blog/<%= post._id  %>"><%= post.title.substring(0, 50) %>....</a></h5>
                      <small><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10</small>
                  </li>

                  <li><br></li>

                  <% }); %>

              </ul>
          </div>
        </div>
      </div>
    </div>

    <br>  
    <br>  
    <br>  
    <br>  



     <%- include("partials/footer") %>
    <!-- Bootstrap core JavaScript -->
    <%- include("partials/script") %>

  </body>
</html>